.preloader{
    min-width: 375px;
    max-width: 430px;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001; 
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}
  
body {
    color: #222;
    background: #fff;
}
a {
    color: #000;
    font-family: 'Manrope'; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
}
body button{
    background-color: #D9D9D9;
    color: #FF0032;
    font-family:'Manrope';  
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
}
  
/* Стили Тёмной темы */
body.dark-theme {
    color: #eee;
    background: #121212;
}
body.dark-theme a {
    color: #FFF;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
}
body.dark-theme .menu-item{
    border-radius: 15px;
    background: #383838;
}
body.dark-theme button{
    background-color: #383838;
    color: #FF0032;
    font-family: 'Manrope'; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
}
body.dark-theme input{
    background: #383838;
    color: #FFF;
}
  
.main{
    min-width: 375px;
    max-width: 430px;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
/* кнопка для переключения */
.btn{
    display: flex;
    justify-content: center;
}
  
.nav{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.menu-item{
    display: flex;
    width: 296px;
    padding: 13px 0px 14px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #D9D9D9;
    margin-bottom: 60px;
}
  
.menu-item a{
    color: #000;
    font-family: 'Manrope'; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
}

.menu-item input{
    color: #000;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.185%; /* 21.31px */
    letter-spacing: 0.96px;
    background: #D9D9D9;
}

.enter{
    color: #FFF;
    padding: 7px 25px 7px 31px;
    border-radius: 15px;
    background: #FF0032;
    margin-left: 32%;
}
.back{
    margin-left: 41%;
    margin-top: 10%;
}

.menu-item:nth-child(2){
    margin-bottom: 30px;
}